/* flex para alinhar os elementos e space-between para colocar um espaço
entre eles */
.contatos {
    width: 950px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.contatos h1 {
    font-size: 2.5em;
    filter: drop-shadow(0 0 5px #fff);

}

.form {
    display: flex;
    flex-direction: column;
}

.contatos .contato {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
}

.contatos .controle-form {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fff;

    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.522);
}

.contatos .controle-form:hover {
    transition: 600ms;
    filter: drop-shadow(0 0 5px #0193ff);
}

.contatos .contato .controle-form::placeholder {
    color: #fff;
}

.contatos .contato .controle-form:focus {
    box-shadow: 0 0 10px #019eff;
    outline: 0;
    filter: drop-shadow(0 0 5px #0193ff);
}

.btn-enviar {
    width: 50%;
    padding: 20px 0;
    margin: 20px 0;
    font-size: 1.2em;
    color: #fff;
    background-color: #019eff;
    border: 0;
    border-radius: 10px;
}

.btn-enviar:hover {
    cursor: pointer;
    transition: 500ms;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px #019eff);
}

.btn-enviar:active {
    transform: scale(0.9);
}


/* mediaquerys para celular e tablet */
@media screen and (max-width: 425px) {
    .contatos {
        width: 100%;
        margin: auto;

        flex-direction: column;
        align-items: center;
    }

    .contatos .contato {
        margin-right: 0;
    }

    .form {
        margin: 30px 30px;
        align-items: center;
    }

    .contatos .contato .controle-form {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .contatos {
        width: 100%;
        margin: auto;

        flex-direction: column;
        align-items: center;
    }

    .contatos .contato {
        margin-right: 0;
    }

    .form {
        margin: 30px 30px;
        align-items: center;
    }

    .contatos .contato .controle-form {
        width: 95%;
    }
}