.corpo {
    background: linear-gradient(30deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 80%, rgba(0, 212, 255, 1) 120%);
}

.conteudo {
    width: 900px;
    height: 100vh;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px 0;
}

.logo {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
}

.logo h1 {
    filter: drop-shadow(0 0 5px #fff);
    text-transform: uppercase;
    font-size: 4em;
}

.logo span {
    font-weight: bold;
}

.logo p {
    filter: drop-shadow(0 0 5px #fff);
    letter-spacing: 20px;
    text-transform: uppercase;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d1d15b;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px #353535;
}

.login form {
    display: flex;
    flex-direction: column;

    margin: 20px;
}

.login form input {
    width: 350px;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-size: 1.2em;
    color: white;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
}

.login form input:focus {
    box-shadow: 0 0 10px #019eff;
    outline: 0;
}

.login p, a {
    color: #fff;
    margin: 20px 0;
    font-size: 1em;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    padding: 15px 0;
    font-size: 1.2em;
    border: 0;
    border-radius: 10px;
}

.btn-entrar {
    width: 80%;
    color: #f4f8f6;
    background-color: #007cc9;
}

.btn-entrar:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px #218aca;
    background-color: #218aca;
}

.btn-criarConta {
    width: 50%;
    margin-bottom: 20px;
    color: #f4f8f6;
    background-color: #00a651;
}

.btn-criarConta:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px #19a35c;
    background-color: #19a35c;
}

.container hr {
    width: 70%;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    margin-bottom: 10px;
}

.copy {
    color: #f4f8f6;
    font-family: 'Robot', sans-serif;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 425px) {
    .conteudo {
        width: 100vw;
    }

    .conteudo .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 1em;
    }

    .login {
        margin-top: 30px;
        background-color: initial;
        border: 0;
        box-shadow: 0 0 0 0;
    }

    .login form > input {
        width: 200px;
        margin-bottom: 10px;
        padding: 10px 15px;
        font-size: 1em;
    }

    .btn {
        width: 220px;
        text-decoration: none;
        padding: 15px 0;
        font-size: 1em;
        border: 0;
        border-radius: 10px;
    }

    .btn-entrar {
        margin-top: 0;
    }

    .btn-criarConta {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .conteudo {
        width: 100vw;
    }

    .conteudo .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 1em;
    }

    .login {
        margin-top: 30px;
        background-color: initial;
        border: 0;
        box-shadow: 0 0 0 0;
    }

    .login form > input {
        width: 200px;
        margin-bottom: 10px;
        padding: 10px 15px;
        font-size: 1em;
    }

    .btn {
        width: 220px;
        text-decoration: none;
        padding: 15px 0;
        font-size: 1em;
        border: 0;
        border-radius: 10px;
    }

    .btn-entrar {
        margin-top: 0;
    }

    .btn-criarConta {
        width: 150px;
    }
}